section
    .container
        .row 
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .advertising
                    img(src="img/advertising.jpg", alt="#")
        .row.dfr
            .col-lg-8.col-md-8.col-sm-7.col-xs-12
                .blog-inner
                    p.date 14:20, сегодня
                    h1.title Bloomberg 
                        strong приостанавливает 
                        | деятельность в России
                    p Клиенты компании не будут иметь доступ ни к одному из её финансовых продуктов
                    img.thumbnails(src="img/blog-img.jpg", alt="")
                    p.caption Фото: Abdumavlon Madmussayev 
                    p Агентство Bloomberg решило приостановить свою деятельность в России и Белоруссии из-за проведения спецоперации на территории Украины, следует из заявления, опубликованного на сайте Bloomberg.
                    p «Клиенты в этих странах не смогут получить доступ ни к одному из финансовых продуктов Bloomberg, включая терминал, лицензию на передачу данных и электронные торговые площадки», — говорится в сообщении агентства.
                    p В соответствии с международными санкциями торговые функции для ряда российских ценных бумаг также были отключены, подчеркнули в компании.
                    p По данным РБК, отключение российских клиентов от терминалов произойдёт 3 апреля, издание Frank Media пишет, что это случится на день раньше — 2 апреля. «РИА Новости» при перезаключении договора на предоставление доступа к терминалу в Bloomberg сообщили, что компания в настоящее время «не предлагает услуг новым или существующим клиентам в России».
                    p Терминалы Bloomberg предоставляют доступ к системе торговли ценными бумагами и к информации о ценах на мировых биржах и внебиржевых рынках. Ранее компания отключила от своих терминалов российские банки, против которых ввели санкции США. Среди них — банк «Открытие», банк «Россия», «Совкомбанк», «Новикомбанк», ВТБ, ВЭБ.РФ, а также «Сбербанк».
                    p 5 марта Bloomberg временно прекратило работу своих журналистов в России после принятия закона об уголовном наказании и крупных штрафах за фейки о действиях Вооруженных сил России, их дискредитацию, а также за призывы к санкциям против РФ.
                    ul.soc
                        li.icon-facebook
                            a(href="#")
                        li.icon-vk
                            a(href="#")
                        li.icon-telegram
                            a(href="#")
                .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        h3.title Читайте также:
                    .col-lg-4.col-md-4.col-sm-12.col-xs-12
                        .blog-item
                            img(src="img/blog-1.jpg", alt="")
                            .description
                                h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                                p.date 11.01.2021 | 10:09
                            a.link(href="#")
                    .col-lg-4.col-md-4.col-sm-12.col-xs-12
                        .blog-item
                            img(src="img/blog-2.jpg", alt="")
                            .description
                                h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                                p.date 11.01.2021 | 10:09
                            a.link(href="#")
                    .col-lg-4.col-md-4.col-sm-12.col-xs-12
                        .blog-item
                            img(src="img/blog-3.jpg", alt="")
                            .description
                                h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                                p.date 11.01.2021 | 10:09
                            a.link(href="#")
            .col-lg-4.col-md-4.col-sm-5.col-xs-12
                h3.title Последние новости
                .blog-item
                    .description
                        h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                    img(src="img/blog-2.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников
                    img(src="img/blog-3.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                    img(src="img/blog-4.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                    img(src="img/blog-2.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников
                    img(src="img/blog-3.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                    img(src="img/blog-4.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                    img(src="img/blog-2.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников
                    img(src="img/blog-3.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                    img(src="img/blog-2.jpg", alt="")
                    a.link(href="")