section
    .container
        .row
            .col-lg-12.col-sm-12.col-md-12.col-xs-12
                h1 Контакты редакции
        .row
            .col-lg-12.col-sm-12.col-md-12.col-xs-12
                .vc_row.wpb_row.vc_row-fluid
                    .wpb_column.vc_column_container.vc_col-sm-12
                        .vc_column-inner
                            .wpb_wrapper
                                .vc_row.wpb_row.vc_inner.vc_row-fluid
                                    .wpb_column.vc_column_container.vc_col-sm-6
                                        .vc_column-inner
                                            .wpb_wrapper
                                                .wpb_text_column.wpb_content_element
                                                    .wpb_wrapper
                                                        p
                                                            strong PR.UZ
                                                            |   — издание о рынке рекламы, пиара и маркетинга в Узбекистане. На сайте вас ждут исключительно эксклюзивы, новости, кейсы, рейтинги, тендеры, инсайты, аналитика и лица как локального, так и международного рынка.
                                                        p
                                                            span(style="color: #b6b6b6; font-family: 'Oswald';")
                                                                strong Выходные данные. Название.
                                                        p PR.UZ
                                                        p
                                                            span(style="color: #b6b6b6; font-family: 'Oswald';")
                                                                strong Периодичность
                                                        p Ежедневно, круглосуточно, бесплатно
                                                        p
                                                            span(style="color: #b6b6b6; font-family: 'Oswald';")
                                                                strong Отдел рекламы
                                                        p
                                                            a(href='mailto:ads@pr.uz') ads@pr.uz
                                                        p
                                                            span(style="color: #b6b6b6; font-family: 'Oswald';")
                                                                strong Связь с редакцией
                                                        p
                                                            a(href='https://t.me/+h51Pq1uwX5hiOWRi') Telegram
                                                        p
                                                            span(style="color: #b6b6b6; font-family: 'Oswald';")
                                                                strong E-mail
                                                        p
                                                            a(href='mailto:info@pr.uz') info@pr.uz
                                                        p
                                                            span(style="color: #b6b6b6; font-family: 'Oswald';")
                                                                strong Главный редактор
                                                        p
                                                            | Джахонгир Мадмусаев
                                                            br
                                                            a(href='mailto:jmadmusaev@pr.uz') jmadmusaev@pr.uz
                                    .wpb_column.vc_column_container.vc_col-sm-6
                                        .vc_column-inner
                                            .wpb_wrapper
                                                .wpb_single_image.wpb_content_element.vc_align_center
                                                    figure.wpb_wrapper.vc_figure
                                                        .vc_single_image-wrapper.vc_box_border_grey
                                                            img.vc_single_image-img.attachment-full(src='https://pr.uz/wp-content/uploads/2022/04/bg.png' alt='' loading='lazy' title='bg' srcset='https://pr.uz/wp-content/uploads/2022/04/bg.png 608w, https://pr.uz/wp-content/uploads/2022/04/bg-237x300.png 237w' sizes='(max-width: 608px) 100vw, 608px' width='608' height='769')
