section
    .container 
        .row 
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .advertising
                    img(src="img/advertising.jpg", alt="#")
        .row.dfr
            .hidden-lg.hidden-md.hidden-sm.visible-xs-12
                ul.tabs
                    li.active
                        a.icon-clock(href="#latest") Последнее
                    li 
                        a(href="#popular") Популярное
            .col-lg-8.col-md-8.col-sm-7.col-xs-12#latest
                .blog-item
                    img(src="img/blog-1.jpg", alt="")
                    h1.title Представители медиа 
                        br
                        strong рассказали о 
                        | важнейших 
                        br
                        | событиях 2021 года
                    a.link(href="#")
                h3.title медиарынок
                .blog-items(data-title="")
                    .blog-item
                        .description
                            p.date 14:20, сегодня
                            h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                            p Coca-Cola обновила дизайн упаковок, а также представила новый вкус фирменной газировки — кофейный.
                        img(src="img/blog-2.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            p.date 14:20, сегодня
                            h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                            p Coca-Cola обновила дизайн упаковок, а также представила новый вкус фирменной газировки — кофейный.
                        img(src="img/blog-3.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            p.date 14:20, сегодня
                            h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                            p Coca-Cola обновила дизайн упаковок, а также представила новый вкус фирменной газировки — кофейный.
                        img(src="img/blog-4.jpg", alt="")
                        a.link(href="")
                    a.readmore(href="#") Больше новостей
            .col-lg-4.col-md-4.col-sm-5.col-xs-12#popular
                h3.title Последние новости
                .blog-items(data-title="")
                    .blog-item
                        .description
                            h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                        img(src="img/blog-2.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников
                        img(src="img/blog-3.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                        img(src="img/blog-4.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                        img(src="img/blog-2.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников
                        img(src="img/blog-3.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                        img(src="img/blog-4.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                        img(src="img/blog-2.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников
                        img(src="img/blog-3.jpg", alt="")
                        a.link(href="")
                    .blog-item
                        .description
                            h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                        img(src="img/blog-2.jpg", alt="")
                        a.link(href="")
                    a.readmore(href="#") Больше новостей
        .row
            .col-lg-8.col-md-8.col-sm-7.col-xs-12
                .blog-item
                    .video.stop
                        i.icon-play
                        i.icon-play-button
                        video(poster='img/poster.jpg')
                            source(src='video/video.mp4')
                    h2.title Представители медиа рассказали о важнейших событиях 2021 года
                    hr.sline
                    h3.title медиарынок
                    a.link(href="")
            .col-lg-4.col-md-4.col-sm-5.col-xs-12
                .blog-item
                    .description
                        h2.title Представители медиа рассказали о важнейших событиях 2021 года
                        hr.sline
                    img(src="img/blog-2.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch
                        hr.sline
                    img(src="img/blog-3.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей
                        hr.sline
                    img(src="img/blog-4.jpg", alt="")
                    a.link(href="")
                .blog-item
                    .description
                        h2.title Представители медиа рассказали о важнейших событиях 2021 года
                        hr.sline
                    img(src="img/blog-2.jpg", alt="")
                    a.link(href="")