footer
    .container
        .row
            .col-lg-6.col-md-6.col-sm-6.col-sm-12
                .telegram-link
                    i.icon-arrow
                    p Больше новостей в Телеграме
                    a.button(href="#") Подписаться
                p.copyright 2018-2021 © Repost.uz. Использование материалов сайта Repost.uz разрешается в любом объеме с обязательным указанием активной ссылки на сайт максимум во втором абзаце новости и названия с сайта в виде "Repost.uz" или "Репост.уз"
                i.icon-plus-18
                ul.soc
                    li.icon-facebook
                        a(href="#")
                    li.icon-vk
                        a(href="#")
                    li.icon-telegram
                        a(href="#")
                    li.icon-instagram
                        a(href="#")
                    li.icon-youtube
                        a(href="#")
            .col-lg-6.col-md-6.col-sm-6.col-sm-12
                ul.menu
                    li
                        a(href="#") НОВОСТИ
                    li
                        a(href="#") ЭКСКЛЮЗИВ
                    li
                        a(href="#") Кейсы
                ul.menu
                    li
                        a(href="#") Реклама
                    li
                        a(href="#") Медиа-кит
                    li
                        a(href="#") Предложить новость
                    li
                        a(href="#") Контакты редакции
                    li
                        a(href="#") Вакансии