footer
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-sm-12
                .dfr
                    .telegram-link
                        p Больше новостей в 
                            br
                            | Телеграме
                        a.button(href="#") Подписаться
                    p.copyright 2018-2021 © Repost.uz. Использование материалов сайта Repost.uz разрешается в любом объеме с обязательным указанием активной ссылки на сайт максимум во втором абзаце новости и названия с сайта в виде "Repost.uz" или "Репост.уз"