header
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .dfr
                    a.logo(href="/") 
                        img(src="../img/logo.svg", alt="" width="195px")  
                    ul.menu
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Эксклюзив
                        li
                            a(href="#") Кейсы
                    a.button.icon-telegram(href="#") Телеграм
                    form.form-search
                        input.search(type="text" placeholder="search")
                        button.icon-search