header
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .dfr
                    a.logo(href="/") 
                        img(src="../img/logo.svg", alt="" width="195px") 
                    i.icon-plus-18
                    ul.soc
                        li.icon-facebook
                            a(href="#")
                        li.icon-vk
                            a(href="#")
                        li.icon-telegram
                            a(href="#")