
<section>
  <div class="container">
    <div class="row"> 
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="advertising"><img src="img/advertising.jpg" alt="#"/></div>
      </div>
    </div>
    <div class="row dfr">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <div class="blog-inner">
          <p class="date">14:20, сегодня</p>
          <h1 class="title">Bloomberg <strong>приостанавливает </strong>деятельность в России</h1>
          <p>Клиенты компании не будут иметь доступ ни к одному из её финансовых продуктов</p><img class="thumbnails" src="img/blog-img.jpg" alt=""/>
          <p class="caption">Фото: Abdumavlon Madmussayev </p>
          <p>Агентство Bloomberg решило приостановить свою деятельность в России и Белоруссии из-за проведения спецоперации на территории Украины, следует из заявления, опубликованного на сайте Bloomberg.</p>
          <p>«Клиенты в этих странах не смогут получить доступ ни к одному из финансовых продуктов Bloomberg, включая терминал, лицензию на передачу данных и электронные торговые площадки», — говорится в сообщении агентства.</p>
          <p>В соответствии с международными санкциями торговые функции для ряда российских ценных бумаг также были отключены, подчеркнули в компании.</p>
          <p>По данным РБК, отключение российских клиентов от терминалов произойдёт 3 апреля, издание Frank Media пишет, что это случится на день раньше — 2 апреля. «РИА Новости» при перезаключении договора на предоставление доступа к терминалу в Bloomberg сообщили, что компания в настоящее время «не предлагает услуг новым или существующим клиентам в России».</p>
          <p>Терминалы Bloomberg предоставляют доступ к системе торговли ценными бумагами и к информации о ценах на мировых биржах и внебиржевых рынках. Ранее компания отключила от своих терминалов российские банки, против которых ввели санкции США. Среди них — банк «Открытие», банк «Россия», «Совкомбанк», «Новикомбанк», ВТБ, ВЭБ.РФ, а также «Сбербанк».</p>
          <p>5 марта Bloomberg временно прекратило работу своих журналистов в России после принятия закона об уголовном наказании и крупных штрафах за фейки о действиях Вооруженных сил России, их дискредитацию, а также за призывы к санкциям против РФ.</p>
          <ul class="soc">
            <li class="icon-facebook"><a href="#"></a></li>
            <li class="icon-vk"><a href="#"></a></li>
            <li class="icon-telegram"><a href="#"></a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title">Читайте также:</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="blog-item"><img src="img/blog-1.jpg" alt=""/>
              <div class="description">
                <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
                <p class="date">11.01.2021 | 10:09</p>
              </div><a class="link" href="#"></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="blog-item"><img src="img/blog-2.jpg" alt=""/>
              <div class="description">
                <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
                <p class="date">11.01.2021 | 10:09</p>
              </div><a class="link" href="#"></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="blog-item"><img src="img/blog-3.jpg" alt=""/>
              <div class="description">
                <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
                <p class="date">11.01.2021 | 10:09</p>
              </div><a class="link" href="#"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <h3 class="title">Последние новости</h3>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей</h2>
          </div><img src="img/blog-2.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников</h2>
          </div><img src="img/blog-3.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch</h2>
          </div><img src="img/blog-4.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей</h2>
          </div><img src="img/blog-2.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников</h2>
          </div><img src="img/blog-3.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Кейс Bridge A[gency] и OMD OM Group: как запустить рекламу автомобиля в Twitch</h2>
          </div><img src="img/blog-4.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей</h2>
          </div><img src="img/blog-2.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Кейсы «Матч ТВ»: как привлечь новых подписчиков с помощью англицизмов и гендерных праздников</h2>
          </div><img src="img/blog-3.jpg" alt=""/><a class="link" href=""></a>
        </div>
        <div class="blog-item">
          <div class="description">
            <h2 class="title">Аудитория рекламного сервиса Microsoft достигла миллиарда пользователей</h2>
          </div><img src="img/blog-2.jpg" alt=""/><a class="link" href=""></a>
        </div>
      </div>
    </div>
  </div>
</section>