
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
        <div class="dfr">
          <div class="telegram-link">
            <p>Больше новостей в <br/>Телеграме</p><a class="button" href="#">Подписаться</a>
          </div>
          <p class="copyright">2018-2021 © Repost.uz. Использование материалов сайта Repost.uz разрешается в любом объеме с обязательным указанием активной ссылки на сайт максимум во втором абзаце новости и названия с сайта в виде "Repost.uz" или "Репост.уз"</p>
        </div>
      </div>
    </div>
  </div>
</footer>