
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul>
          <li>Хлопкороб и садовник, пастух и гончар — пропадет без рекламы ваш труд и товар. Про узбекский маркетинг, дизайн и рекламу почитайте на сайте <strong>Узбекский Пиар.</strong></li>
          <li>Вы его логотип покажите друзьям. Передайте как мудрость своим сыновьям. А глупцы, что не видят красы логотипа, пусть отправятся к рифме на слово <strong>Хаям.</strong></li>
        </ul>
      </div>
    </div>
  </div>
</section>