doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Test Pug Page
        link(href="css/main.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&Montserrat:wght@600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
        //(if lt IE 9)
        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        //(endif)
    body.error404
        include layout/header-404.pug
        include layout/page-404-content.pug
        include layout/footer-404.pug 

        script(src="js/build.js")