/**
custom-icons Webfont
*/

@font-face {
    font-family: 'GOTHIC';
    src: url('../fonts/GOTHIC.ttf');
    src: url('../fonts/GOTHIC-icons.eot') format('embedded-opentype'), url('../fonts/GOTHIC-icons.woff2') format('woff2'), url('../fonts/customGOTHICicons.woff') format('woff'), url('../fonts/GOTHIC-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1650021257312');
    src: url('../fonts/custom-icons.eot?#iefix-1650021257312') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1650021257312') format('woff2'), url('../fonts/custom-icons.woff?1650021257312') format('woff'), url('../fonts/custom-icons.ttf?1650021257312') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'custom-icons';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-arrow-down:before {
        content: '\ea01';
    }
    .icon-arrow:before {
        content: '\ea02';
    }
    .icon-clock:before {
        content: '\ea03';
    }
    .icon-facebook:before {
        content: '\ea04';
    }
    .icon-instagram:before {
        content: '\ea05';
    }
    .icon-play-button:before {
        content: '\ea06';
    }
    .icon-play:before {
        content: '\ea07';
    }
    .icon-plus-18:before {
        content: '\ea08';
    }
    .icon-search:before {
        content: '\ea09';
    }
    .icon-telegram:before {
        content: '\ea0a';
    }
    .icon-vk:before {
        content: '\ea0b';
    }
    .icon-youtube:before {
        content: '\ea0c';
    }
    