$blue:#1E95D3;
$Roboto:'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$bleck:#000;
$white:#fff;
$light-grey:#ebebeb;
$grey:#999999;
$dark-grey: #333;
$yellow:#fde910;
.error404{
    background-image: url(../img/404.png);
    background-size: 1360px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: $bleck;
    header{
        background-color: transparent;
        .dfr{
            border-bottom: none;
            padding: 50px 0 20px;
        }
        .soc{
            display: inline-flex;
            vertical-align: middle;
            margin-left: 40px;
            li{
                margin-right: 20px;
                position: relative;
                transition: all 0.3s ease;
                &:last-of-type{
                    margin-right: 0;
                }
                &:hover{
                    &:before{
                        color: $blue;
                    }
                }
                a{
                    position: absolute;
                    left: 0;
                    right: 0;
                    font-size: 0;
                    top: 0;
                    bottom: 0;
                }
                &:before{
                    color: $white;
                    font-size: 18px;
                }
            }
        }
        .icon-plus-18{
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            margin: 0 0 0 auto;
            &:before{
                color: #f00;
                font-size: 40px;
            }
            &:after{
                content: '';
                position: absolute;
                width: 30px;
                height: 20px;
                background: $white;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }
    }
}
header{
    margin-bottom: 40px;
    background: $bleck;
    .burger-menu{
        display: none;
    }
    .dfr{
        padding: 20px 0;
        border-bottom: 1px solid $dark-grey;
    }
    .menu,
    .dfr{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu{
        margin-left: 115px;
        li{
            margin-right: 40px;
            a{
                color: $white;
                font-weight: 400;
                font-size: 15px;
                font-family: $Roboto;
                transition: all 0.3s ease;
                &:hover{
                    color: $yellow;
                }
            }
        }
    }
    .button{
        margin: 0 40px 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 35px;
        background: $blue;
        color: $white;
        width: 116px;
        border-radius: 29px;
        font-weight: 400;
        font-size: 14px;
        border: 2px solid $blue;
        transition: all 0.3s ease;
        &:hover{
            border: 2px solid $white;
            background-color: transparent;
        }
        &:before{
            margin-right: 10px;
        }
    }
    
}