$blue:#1E95D3;
$Roboto:'Roboto', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$bleck:#000;
$white:#fff;
$light-grey:#ebebeb;
$grey:#999999;
$dark-grey: #333;
$yellow:#fde910;
section{
    padding-bottom: 35px;
    .wp-pagenavi{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        & > *{
            border: 1px solid $blue;
            background: $white;
            color: $blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            padding: 0; 
            margin: 0 5px !important; 
        }
        & > *:not(span){
            transition: all 0.3s ease;
            &:hover{
                background: $blue;
                color: $white;
                border: 1px solid $blue;
            }
        }
        .current{
            background: $blue;
            color: $white;
            border: 1px solid $blue;
        }
        .nextpostslink{
            
        }
    }
    .dfr{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        flex-wrap: wrap;
        .col-lg-8{
             &:before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 15px;
                right: 15px;
                background: $dark-grey;
                height: 1px;
            }
        }
        .col-lg-4{
            padding-top: 0px;
            padding-bottom: 20px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                background: $white;
                top: 0;
                bottom: 0;
                width: 100vw;
                z-index: 0;
            }
            .blog-item{
                padding-bottom: 20px;
                margin-bottom: 21px;
                border-bottom: 1px solid $light-grey;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                h2{
                    color: #2b2b2b;
                    font-size: 15px;
                    text-transform: inherit;
                    font-family: $Roboto;
                    font-weight: 500;
                    line-height: 1.1;
                    strong{
                        background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }
        }
    }
    h3.title{
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
        color: $grey;
        font-family: $Montserrat;
        margin-bottom: 20px;
        z-index: 1;
        position: relative;
    }
    .advertising{
        margin-bottom: 24px;
        img{
            width: 100%;
        }
    }
    .blog-item{
        position: relative;
        .title,
        img,
        p{
            transition: all 0.3s ease;
        }
        &:hover{
            p,
            img,
            .title{
                opacity: 0.8;
            }
        }
        .link{
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
        }
    }
    .col-lg-8{
         padding-bottom: 20px;
        .readmore{
            background: $white;
            color: #151515;
            &:hover{
                background-color: transparent;
                color: $blue;
            }
        }
        .col-lg-12{
            h3.title{
                font-weight: 400;
                font-size: 18px;
                line-height: 1.4;
                color: #A7A7A7;
                text-transform: inherit;
                margin-bottom: 30px;
            }
        }
        .col-lg-4{
            padding-top: 0px;
            padding-bottom: 0;
            .blog-item{
                border-bottom: none;
                
                img{
                    width: 100%;
                    margin-bottom: 0;
                    height: 170px;
                }
                .description{
                    width: 100%;
                    h2.title{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.1;
                        color: $bleck;
                    }
                    .date{
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
        .logo{
            margin: 30px 0;
            display: block;
        }
        h3{
            margin: 20px 0;
            color: $grey;
            font-weight: 400 !important;
            font-family: $Roboto;
        }
        .blog-items{
            .blog-item{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                border-top: 1px solid $dark-grey;
                padding-top: 30px;
                margin-top: 30px;
            }
        }
        .blog-item{
            p{
                font-weight: 400;
                color: $grey;
                font-family: $Roboto;
                &.date{
                    font-size: 12px;
                }
                &:not(.date){
                    font-size: 15px;
                    line-height: 1.4;
                }
            }
            .description{
                width: calc(100% - 360px);
                display: inline-flex;
                vertical-align: text-top;
                flex-direction: column;
                margin-right: 20px;
                & + img{
                    width: 340px;
                    height: 225px;
                    object-fit: cover;
                    object-position: center;
                    display: inline-flex;
                    margin-bottom: 0;
                    vertical-align: text-top;
                }
            }
            img{
                margin-bottom: 30px;
                width: 100%;
                height: auto;
            }
            h2{
                color: $dark-grey;
                font-weight: 400;
                font-size: 28px;
                margin: 15px 0 30px;
                font-family: $Oswald;
                strong{
                    background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            & > h2.title,
            h1.title{
                color: $bleck;
                font-weight: 600;
                font-size: 45px;
                text-transform: uppercase;
                font-family: $Oswald;
                strong{
                    background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
        }
        .video{
            position: relative;
            z-index: 1;
            cursor: pointer;
            iframe{
                width: 100%;
                height: 440px;
            }
            &:not(.stop){
                i{
                    opacity: 0;
                }
            }
            .icon-play{
                position: absolute;
                left: 35px;
                bottom: 20px;
                transition: all 0.3s ease;
                &:before{
                    color: $white;
                    font-size: 38px;
                }
            }
            .icon-play-button{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 81px;
                height: 81px;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                pointer-events: none;
                transition: all 0.3s ease;
                &:after{
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }
                &:before{
                    color: #D40915;
                    font-size: 81px;
                }
            }
        }
        video{
            width: 100%;
            height: 410px;
            object-fit: cover;
            object-position: center;
        }
        hr.sline{
            margin: 0;
            width: 250px;
            height: 50px;
            border: none;
            background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
        }
    }
    .readmore{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        width: 200px;
        height: 40px;
        border-radius: 25px;
        transition: all 0.3s ease;
        font-weight: 500;
        font-size: 16px;
        border: 2px solid #EBEBEB;
        font-family: $Roboto;
        position: relative;
        z-index: 1;
        &:hover{
            color: $white;
        }
    }
    .col-lg-4{
        
        .readmore{
            background: $bleck;
            color: $white;
            &:hover{
                background-color: transparent;
                color: $bleck;
            }
        }
        .blog-item{
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .description{
                width:calc(100% - 200px);
                margin-right: 20px;
                display: inline-flex;
                flex-direction: column;
                vertical-align: text-top;
            }
            &:last-of-type{
                margin: 0;
            }
            hr.sline{
                height: 2px;
                border: none;
                margin: 10px 0;
                width: 140px;
                background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
            }
            img{
                display: inline-flex;
                width: 180px;
                height: 120px;
                object-fit: cover;
                object-position: top;
                vertical-align: text-top;
            }
            h2{
                color: $dark-grey;
                font-weight: 500;
                font-size: 19px;
                text-transform: uppercase;
                line-height: 1.2;
                font-family: $Oswald;
                strong{
                    background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
        }
    }
    .blog-inner{
        .thumbnails{
            width: 100%;
            height: auto;
            & + p{
                &:not([class]){
                    margin-top: 20px;
                }
            }
        }
        img{
            max-width: 100%;
        }
        .caption{
            font-weight: 400;
            font-size: 14px;
            color: #A8A8A8;
            margin-top: 10px;
            line-height: 1.2;
        }
        .alignleft{
            float: left;
            width: calc((100% - 15px) / 2);
            margin-right: 20px;
            margin-bottom: 20px;
            clear: both;
            blockquote{
                margin-bottom: 0;
            }
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        .alignright{
            float: right;
            width: calc((100% - 15px) / 2);
            margin-left: 20px;
            margin-bottom: 20px;
            clear: both;
            blockquote{
                margin-bottom: 0;
            }
            img{
                max-width: 100%;
            }
        }
        blockquote{
            border: 1px solid $blue;
            padding: 20px 30px;
            margin-bottom: 30px;
            border-radius: 10px;
            position: relative;
            &:before,
            &:after{
                font-size: 40px;
                color: $blue;
                position: absolute;
            }
            &:before{
                content: '“';
                left: 10px;
                top: 20px;
            }
            &:after{
                content: '”';
                right: 10px;
                bottom: -4px;
            }
            p{
                margin-bottom: 0;
            }
        }
        p.date{
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            font-family: $Roboto;
            margin-bottom: 10px;
            color: #555;
        }
        h1.title{
            color: $bleck;
            font-weight: 600;
            font-size: 45px;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 20px;
            strong{
                background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        h1:not(.title),
        h2,
        h3,
        h4,
        h5,
        h6{
            font-family: $Oswald;
            font-weight: 700;
            line-height: 1.1;
            margin-top: 40px;
            margin-bottom: 20px;
            text-transform: inherit;
            color: $bleck;
        }
        h1:not(.title){
            font-size: 45px;
        }
        h2{
            font-size: 40px;
        }
        h3{
            font-size: 36px;
        }
        h4{
            font-size: 30px;
        }
        h5{
            font-size: 24px;
        }
        h6{
            font-size: 18px;
        }
        i,
        em{
            font-style: italic;
        }
        b,
        strong{
            font-weight: 700;
        }
        a{
            color: $blue;
            transition: all 0.3s ease;
            &:not([class]){
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 20px;
            overflow: hidden;
            
        }

        ol{
            margin-bottom: 20px;
            counter-reset: li;
            padding-left: 20px;
            ol{
                margin-left: 20px;
                margin-bottom: 0;
            }
            li{
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 5px;
                line-height: 2;
                color: $bleck;
                &:before{
                    counter-increment: li;
                    content: counters(li, ".") " ";
                }
            }
            & > li:before{
                counter-increment: li;
                content: counters(li, ".") ". ";

            }
        }
        ul{
            margin-bottom: 20px;
            &.soc{
                display: flex;
                clear: both;
                margin-top: 25px;
                li{
                    margin-right: 25px;
                    position: relative;
                    transition: all 0.3s ease;
                    &:hover{
                        &:before{
                            color: $blue;
                        }
                    }
                    a{
                        position: absolute;
                        left: 0;
                        right: 0;
                        font-size: 0;
                        top: 0;
                        bottom: 0;
                    }
                    &:before{
                        color: $bleck;
                        font-size: 18px;
                    }
                }
            }
            &:not([class]){
                list-style: disc;
                padding-left: 20px;
                list-style-position: inside;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $Roboto;
                    margin-bottom: 0;
                    position: relative;
                    line-height: 1.4;
                    margin-bottom: 10px;
                    ul{
                        margin-top: 10px;
                    }
                }
            }
        }
        .blog-items{
            height: 100%;
        }
    }
}
body{
    &:not(.home){
        
    }
    &.home{
        section{
            .dfr{
                .col-lg-4 {
                    .blog-item {
                        h2{
                            color: $dark-grey !important;
                        }
                    }
                }
            }
            .col-lg-8 {
                .readmore{
                    &:hover{
                        color: $white;
                    }
                }
                .blog-item {
                    & > h2.title{
                        color: $white;
                    }
                    h1.title{
                        color: $white;
                    }
                    h2{
                        color: $white;
                    }
                }
            }
            .col-lg-4{
                padding-top: 35px;
                .blog-item {
                    .description{
                        h2{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    &.error404{
        section{
            ul{
                max-width: 900px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    border-radius: 16px;
                    padding: 12px 20px;
                    border: 1px solid $white;
                    width: calc((100% - 60px) / 2);
                    color: $white;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: $Roboto;
                    strong{
                        background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }
        }
    }
    &.search-results,
    &.category-page{
        h1.title{
            font-weight: 400;
            font-size: 32px;
            font-family: $Oswald;
            margin-bottom: 25px;
        }
        .col-lg-3{
            margin-bottom: 35px;
        }
        .category-item{
            position: relative;
            transition: all 0.3s ease;
            &:hover{
                opacity: 0.8;
            }
            .link{
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
            }
            img{
                width: 100%;
                height: 154px; 
                object-fit: cover;
                object-position: center;
                margin-bottom: 15px;
            }
            h2.title{
                font-weight: 400;
                font-size: 16px;
                line-height: 1.1;
                font-family: $Roboto;
                margin-bottom: 8px;
            }
            p.date{
                font-weight: 400;
                font-size: 12px;
                color: #999;
            }
        }
    }
    
}
.page{
    .col-lg-12{
        h1:not([class]){
            font-weight: 400;
            font-size: 32px;
            font-family: $Oswald;
            color: $bleck;
            margin-bottom: 45px;
        }
    }
    .vc_inner{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .vc_col-sm-6{
        width: calc(100% / 2);
        padding: 0 15px;
  
        img{
            width: 100%;
            object-fit: cover;
            object-position: left center;
        }
        p{
            font-size: 25px;
            font-family: $Roboto;
            font-weight: 400;
            line-height: 1.1;
            &:nth-of-type(2n){
                margin-top: 30px;
            }
            a{
                color: $bleck;
                font-family: $Roboto;
                font-weight: 500;
                font-size: 26px;
                transition: all 0.3s ease;
                &:hover{
                    color: $yellow;
                }
            }
            b,
            strong{
                font-weight: 700;
            }
            span{
                display: block;
                font-size: 20px;
                font-family: $Oswald;
                margin-bottom: 10px;
            }
        }
    }
}