$blue:#1E95D3;
$Roboto:'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$bleck:#000;
$white:#fff;
$light-grey:#ebebeb;
$grey:#999999;
$dark-grey: #333;
$yellow:#fde910;
.error404{
    footer{
        background-color: transparent;
        padding: 0 0 60px;
        .dfr{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        .container{
            &:before{
                display: none;
            }
        }
        .telegram-link{
            margin-bottom: 0;
            p{
                margin: 0 10px;
            }
        }
        .copyright{
            margin: 0 0 0 auto;
        }
    }
}
footer{
    padding-top: 45px;
    margin-top: 30px;
    padding-bottom: 80px;
    background: $bleck;
    margin: auto 0 0 0;
    .col-lg-6{
        &:last-of-type{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &:first-of-type{
            position: relative;
            &:before{
                content: '';
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                background: $dark-grey;
                width: 1px;
                position: absolute;
            }
        }
    }
    .menu{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        width: calc(100% / 2);
        li{
            margin-bottom: 20px;
            a{
                color: $white;
                text-transform: uppercase;
                transition: all 0.3s ease;
                font-size: 12px;
                font-weight: 500;
                font-family: $Roboto;
                &:hover{
                    color: $yellow;
                }
            }
        }
    }
    .container{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: -45px;
            left: 15px;
            right: 15px;
            height: 1px;
            background: $dark-grey;
            width: calc(100% - 30px);
        }
    }
    .telegram-link{
        max-width: 380px;
        background: $blue;
        color: $white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 10px 8px 22px;
        border-radius: 25px;
        margin-bottom: 30px;
        i{
            margin-left: 20px;
            margin-right: 25px;
            position: relative;
            top: -1px;
            display: none;
            &:before{
                font-size: 18px;
            }
        }
        p{
            font-weight: 400;
            font-size: 16px;
            color: $white;
            font-family: $Roboto;
        }
        a.button{
            background: $white;
            width: 108px;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 auto;
            border-radius: 25px;
            font-weight: 400;
            font-size: 14px;
            color: $bleck;
            font-family: $Roboto;
            transition: all 0.3s ease;
            border: 2px solid $blue;
            &:hover{
                border-color: $white;
                background-color: transparent;
                color: $white;
            }
        }
    }
    .copyright{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $white;
        max-width: 465px;
        margin-bottom: 45px;
    }
    .soc{
        display: inline-flex;
        vertical-align: middle;
        margin-left: 40px;
        li{
            margin-right: 25px;
            position: relative;
            transition: all 0.3s ease;
            &:last-of-type{
                margin-right: 0;
            }
            &:hover{
                &:before{
                    color: $yellow;
                }
            }
            a{
                position: absolute;
                left: 0;
                right: 0;
                font-size: 0;
                top: 0;
                bottom: 0;
            }
            &:before{
                color: $white;
                font-size: 18px;
            }
        }
    }
    .icon-plus-18{
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        &:before{
            color: #f00;
            font-size: 40px;
        }
        &:after{
            content: '';
            position: absolute;
            width: 30px;
            height: 20px;
            background: $white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}