$yellow:#fde910;
@media only screen and (max-width: 1259px) {
    body{
        &.search-results,
        &.category-page {
            .category-item {
                img{
                    height: 118px;
                }
            }
        }
    }
    header{
        .menu {
            margin-left: 40px;
        }
        .button {
            margin: 0 15px 0 auto;
        }
    }

    section {
        .dfr {
            .col-lg-4 {
                .blog-item {
                    margin-bottom: 20px;
                    h2 {
                        font-size: 12px;
                    }
                }
            }
        }
        .col-lg-4 {
            .blog-item {
                h2{
                    font-size: 12px;
                }
                img{
                    width: 130px;
                    height: 85px;
                }
                .description {
                    width: calc(100% - 150px);
                }
            }
        }
        .col-lg-8 {
            .col-lg-4 {
                .blog-item {
                    img {
                        width: 100%;
                        margin-bottom: 0;
                        height: 124px;
                    }
                }
            }
            .video{
                iframe {
                    height: 346px;
                }
            }
            video {
                height: 350px;
            }
            .blog-item {
                .description {
                    width: calc(100% - 260px);
                    & + img {
                        width: 240px;
                        height: 160px;
                    }
                }
                & > h2.title,
                h1.title{
                    font-size: 36px;
                }
                h2{
                    font-size: 20px;
                }
                p:not(.date) {
                    font-size: 12px;
                }
            }
        }
    }
    footer {
        .menu {
            padding-left: 20px;
        }
    }
}
@media only screen and (max-width: 991px) {
    header {
        .menu{
            margin-left: 30px;
            li{
                margin-right: 20px;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
        .form-search{
            .search {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .logo{
            img{
                width: 160px;
            }
        }
        .button {
            margin: 0 15px 0 auto;
        }
    }
    section {
        .col-lg-4 {
            .blog-item{
                img{
                    width: 100px;
                    height: 65px;
                }
                .description{
                    width: calc(100% - 120px);
                }
                h2{
                    font-size: 12px;
                }
            }
        }
        .dfr {
            .col-lg-4 {
                .blog-item {
                    h2{
                        font-size: 13px;
                    }
                }
            }
        }
        .col-lg-8 {
            .video{
                iframe {
                    height: 228px;
                }
            }
            .col-lg-4 {
                .blog-item {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 0;
                    align-items: flex-start;
                    .description {
                        width: calc(100% - 120px);
                        margin-right: 0;
                        h2.title{
                            margin-top: 0;
                        }
                    }
                    img {
                        width: 100px;
                        height: 68px !important;
                        object-fit: cover;
                        object-position: center;
                        margin-bottom: 0;
                        height: auto;
                        margin-right: 20px;
                    }
                }
            }
            .blog-item{
                h2 {
                    margin: 8px 0;
                    font-size: 16px;
                }
                p:not(.date) {
                    font-size: 10px;
                }
                &  > h2.title, 
                h1.title {
                    font-size: 28px;
                }
                video {
                    height: 230px;
                }
                .description {
                    width: calc(100% - 200px);
                    & + img {
                        width: 180px;
                        height: auto;
                    }
                }
            }
        }
        .blog-inner {
            h1.title{
                font-size: 30px;
            }
        }
    }
    footer {
        .telegram-link {
            a.button{
                font-size: 10px;
                width: 85px;
            }
            p{
                font-size: 12px;
            }
            i {
                margin-right: 10px;
                top: -3px;
                &:before {
                    font-size: 10px;
                }
            }
        }
    }
    body{
        
        &.search-results,
        &.category-page {
            .category-item {
                img{
                    height: 122px;
                }
            }
        }
        &.page {
            .vc_col-sm-6{
                img{
                    height: 100%;
                }
                .vc_column-inner{
                    height: 100%;
                    .wpb_wrapper{
                        height: 100%;
                        .wpb_single_image{
                            height: 100%;
                            .vc_figure{
                                height: 100%;
                                .vc_single_image-wrapper{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                p {
                    font-size: 16px;
                    &:nth-of-type(2n){
                        margin-top: 15px;
                    }
                    a{
                        font-size: 17px;
                    }
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}
@media only screen and (min-width: 768px) {
    header{
        .form-search{
            position: relative;
            &.open{
                .search{
                    padding: 0 20px;
                    width: 230px;
                    opacity: 1;
                }
            }
            .search{
                height: 40px;
                border-radius: 29px;
                border: none;
                width: 0%;
                transition:all 0.3s ease;
                padding: 0;
                opacity: 0;
            }
            .icon-search{
                background-color: transparent;
                border:none;
                &:hover{
                    &:before{
                        color: $yellow;
                    }
                }
                &:before{
                    font-size: 18px;
                    color: #fff;
                    transition: all 0.3s ease;
                }
            }
        }
        
    }
    
}
@media only screen and (max-width: 767px) {
    body{
        &.error404{
            background-size: 100%;
            background-position: 0 65%;
            header {
                .dfr{
                    padding: 20px 0;
                }
                .logo{
                    img{
                        width: 140px;
                    }
                }
            }
            section {
                ul{
                    flex-direction: column;
                    li{
                        width: 100%;
                        margin-bottom: 20px;
                        background: rgba(255,255,255,0.3)
                    }
                }
                
            }
            footer {
                padding: 0  0 30px;
                .telegram-link{
                    width: 100%;
                    margin-bottom: 25px;
                    max-width: 100% ;
                }
                .copyright{
                    max-width: 100% ;
                    width: 100%;
                }
            }
        }
        &:not(.home){
            section {
                .row.dfr{
                    margin-bottom: 0;
                }
                .col-lg-8{
                    padding-bottom: 0;
                }
            }
        }
        &.home{
            background-color: transparent;
            section {
                .col-lg-4 {
                    .blog-item {
                        .description{
                            h2{
                                color: #000;
                            }
                        }
                    }
                }
            }
            header{
                margin-bottom: 0;
            }
        }
        &.search-results,
        &.category-page {
            h1.title{
                margin-top: 40px;
            }
            .row.dfr{
                flex-direction: row;
            }
            .category-item {
                img{
                    height: 25.454vw;
                }
            }
        }
        &.page{
            section{
                padding: 50px 0;
            }
            .wpb_single_image{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: rgba(255,255,255,0.8);
                }
            }
            .vc_inner{
                flex-direction: column;
            }
            .vc_col-sm-6{
                width: 100%;
                img{
                    object-fit: contain;
                    object-position: right center;
                }
            }
        }
    }
    
    header{
        position: relative;
        z-index: 2;
        margin-bottom: 0;
        .icon-telegram{
            margin-right: 0;
        }
        .button{
            font-size: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 0;
            & + .form-search{
                display: none;
            }
            &:before{
                font-size: 18px;
                margin-right: 0;
            }
        }
        .logo{
            margin: 0 auto;
        }
        .menu{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 320px;
            background: #000;
            top: 84.6px;
            margin-left: 0;
            display: block;
            padding: 20px 15px;
            transform: translateX(-100%);
            transition: all 0.3s ease;
            &.open{
                transform: translateX(0%);
            }
            li{
                margin-right: 0;
                margin-bottom: 20px;
                &:last-of-type{
                    position: relative;
                    
                    input{
                        width: 100%;
                        height: 40px;
                        padding: 0 40px 0 15px;
                        border-radius: 4px;
                    }
                    .icon-search{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        background-color: transparent;
                        border:none;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .burger-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            order:-1;
            cursor: pointer;
            transform-origin: center;
            &.close{
                span{
                    &:nth-of-type(2){
                        opacity: 0;
                    }
                    &:first-of-type{
                        transform: rotate(-45deg) translate(-7px , 7px)
                    }
                    &:last-of-type{
                        transform: rotate(45deg) translate(-7px , -7px)
                    }
                }
            }
            span{
                width: 25px;
                height: 2px;
                display: block;
                background: #fff;
                transition: all 0.3s ease;
                &:nth-of-type(2){
                    margin: 8px 0;
                }
            }
        }
        .dfr{
            border: none;
        }
    }
    section{
        #popular:not(.active),
        #latest:not(.active){
            display: none;
        }
        
        .tabs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 15px 15px 20px;
            justify-content: center;
            border-bottom: 2px solid #EEEEEE;
            li{
                width: calc(100%  / 2);
                position: relative;
                &.active{
                    &:before{
                        width: 100%;
                    }
                }
                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
                &:before{
                    content: '';
                    height: 2px;
                    width: 0%;
                    transform: translate(-50%,100%);
                    bottom: 0;
                    left: 50%;
                    position: absolute;
                    transition: all 0.3s ease;
                    background: linear-gradient(90deg, #E30613 0.28%, #FCEC00 47.88%, #029F28 90.48%), linear-gradient(0deg, #00DD9B 0%, #009C25 100%);
                }
            }
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                color: #000;
                height: 40px;
                &:before{
                    color: #D4D4D4;
                    margin-right: 10px;
                }
            }
        }
        .row.dfr{
            flex-direction: column;
            h1.title{
                font-size: 24px;
                font-weight: 400;
                text-transform: inherit;
                br{
                    display: none;
                }
            }
            h3.title{
                display: none;
            }
            .col-lg-4{
                padding-top: 0;
            }
            .col-lg-4{
                .blog-item{
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #EEEEEE;
                }
            }
            .col-lg-8{
                
                .blog-items{
                    .blog-item{
                        padding-top: 15px;
                        margin-top: 15px;
                        border-top: 1px solid #EEEEEE;
                    }
                }
            }
            .col-lg-8,
            .col-lg-4{
                .readmore {
                    background-color: transparent;
                    color: #000;
                    &:hover{
                        background: #000;
                        color: #fff;
                    }
                }
                .blog-item{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items:flex-start;
                    .description{
                        margin-right: 0;
                        width: calc(100% - 220px);
                        p{
                            display: none;
                        }
                        h2.title{
                            color: #000;
                            font-size: 24px;
                            margin: 0;
                        }
                        & + img{
                            order: -1;
                            margin-right: 20px;
                        }
                    }
                    img{
                        width: 200px;
                        height: 132px;
                        object-fit: cover;
                        object-position: center;
                        margin-bottom: 0;
                        & + h1.title{
                            width: calc(100% - 220px);
                            margin-left: 20px;
                            color: #000;
                        }
                    }
                }
            }
        }
        .col-lg-4{
            .blog-item{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                img{
                    width: 200px;
                    height: 132px;
                    order: -1;
                    margin-right: 20px;
                }
                .description{
                    width: calc(100% - 220px);
                    margin-right: 0;
                    h2.title{
                        color: #000;
                        font-size: 24px;
                        margin: 0;
                    }
                    hr.sline {
                        display: none;
                    }
                }
            }
        }
        .col-lg-4{
            .blog-item{
                border-bottom: 1px solid #EEEEEE;
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
        }
        .col-lg-8{
            .video {
                iframe {
                    height: calc(58vw - 30px);
                }
            }
            &:before {
                display: none;
            }
            h3.title{
                display: none;
            }
            .blog-item{
                & > h2.title{
                    color: #000;
                }
                video {
                    height: 54.237vw;
                }
            }
            .col-lg-4 {
                .blog-item {
                    img{
                        height: 132px !important;
                    }
                    .description{
                        h2.title{
                            font-family: Roboto,sans-serif;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .advertising{
            margin-left: -15px;
            margin-right: -15px;
        }
        .row.dfr{
            .blog-inner{
                h1.title{
                    font-size: 36px;
                }
            }
        }
        .blog-inner{
            padding-top: 40px;
            ul.soc{
                margin-bottom: 50px;
            }
            h1,
            h1:not([class]){
                font-size: 36px;
            }
            h2{
                font-size: 32px;
            }
            h3{
                font-size: 28px;
            }
            h4{
                font-size: 24px;
            }
            h5{
                font-size: 20px;
            }
            h6{
                font-size: 16px;
            }
        }
    }
    footer {
        padding-bottom: 30px;
        .telegram-link{
            max-width: 100%;
            a.button{
                width: 124px;
                font-size: 14px;
            }
            p {
                font-size: 16px;
            }
            i{
                top: -2px;
            }
        }
        .copyright{
            max-width: 100%;
        }
        .menu{
            padding-left: 0;
        }
        .col-lg-6{
            &:last-of-type{
                position: relative;
                padding-top: 30px;
                margin-top: 30px;
                &:before{
                    content: '';
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    height: 1px;
                    background: #333;
                    top: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 679px) {
    body{
        &.search-results,
        &.category-page {
            .category-item {
                img{
                    height: 25.302vw;
                }
            }
        }
    }
}
@media only screen and (max-width: 579px) {
}

@media only screen and (max-width: 479px) {
    .error404 {
        header {
            .soc{
                margin-left: 20px;
            }
        }
    }
    section{
        .row.dfr{
            .col-lg-4,
            .col-lg-8 {
                .blog-item{
                    .description{
                        width: calc(100% - 120px);
                        h2.title{
                            font-size: 16px;
                        }
                    }
                    img{
                        width: 100px;
                        height: 62px !important;
                        &  + h1.title{
                            width: calc(100% - 120px);
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .col-lg-8 {
            .blog-item {
                hr{
                    height: 2px;
                    margin-bottom: 20px;
                }
                & > h2.title{
                    font-size: 20px;
                }
            }
        }
        .col-lg-4{
            .blog-item {
                img{
                    width: 100px;
                    height: 62px;
                }
                .description{
                    width: calc(100% - 120px);
                    h2.title{
                        font-size: 16px;
                        text-transform: inherit;
                    }
                }
            }
        }
    }
    footer{
        .telegram-link{
            padding: 8px 10px 8px 20px;
            p{
                width: calc(100% - 144px);
            }
            i{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 389px) {
    header {
        .logo{
            img{
                width: 164px;
            }
        }
        .menu{
            top: 80px;
        }
    }
    body{
        &.page {
            .vc_col-sm-6 {
                img{
                    object-fit: cover;
                }
            }
        }
    }
}
@media only screen and (max-width: 379px) {
    body{
        &.search-results,
        &.category-page {
            
            .row.dfr{
                flex-direction: column;
            }
            .category-item {
                img{
                    height: 50.787vw;
                }
            }
            .col-lg-3{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 364px) {
    .error404 {
        header{
            .icon-plus-18{
                &:before {
                    color: red;
                    font-size: 30px;
                }
                &:after{
                    width: 20px;
                }
            }
            .soc {
                margin-left: 15px;
                li{
                    margin-right: 15px;
                }
            }
        }
    }
    section {
        .row.dfr {
            .blog-inner{
                 h1.title {
                    font-size: 32px;
                }
            }
        }
    }
    footer{
        .soc{
            margin-left: 20px;
        }
        .telegram-link{
            p{
                font-size: 12px;
            }
        }
    }
}
